***Data Science Tools and Ecosystem***

*In this notebook, Data Science Tools and Ecosystem are summarized.*

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. C++

Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. Numpy
3. Matplotlib
4. Seaborn
5. Sciket Learn

Data Science Tools.

1. Jupyter Notebook
2. Rstudio
3. Visual Studio Code

**Below are a few examples of evaluating arithmetic expressions in Python**

 This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [5]:
200/60

3.3333333333333335

**Objectives:**

List popular languages and libraries for Data Science.

. Python
. R
. SQL
. panda
. Numpy
. Matplotlib

**Author**

In [ ]:
Abdullah khan